#header {
  background-color: white;
  height: 56px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.menuButtonDiv {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuButton {
  height: 100%;
}
.logoImageDiv {
  height: 40%;
}
.logoImage {
  height: 100%;
}
.search {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
}
.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65%;
}
.searchBarInput {
  border: 0;
  border-radius: 20px 0 0 20px;
  width: 520px;
  flex: 1;
  height: 100%;
  padding: 0;
  padding-left: 20px;
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  border: solid gray;
  border-width: 1px 0 1px 1px;
}
.searchBarInput:focus {
  border: solid gray;
  border-width: 1px 0 1px 1px;
  box-shadow: 0px 0px 1px 1px #065FD7;;
  outline: 0;
}
.searchBarButton {
  width: 60px;
  border: 1px solid gray;
  height: 100%;
  border-radius: 0 20px 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 245, 245);
}
.searchBarButton:hover {
  cursor: pointer;
  background-color: rgb(235, 235, 235);
}
.searchButton {
  width: 30px;
}
.loggedOutDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  border: 1px solid #DEF1FF;
  padding: 4px 12px;
  border-radius: 20px;
  height: 60%;
}
.loggedOutDiv:hover {
  background-color: #DEF1FF;
  cursor: pointer;
}
.loggedOutIconDiv, .loggedOutText {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loggedOutIconDiv {
  width: 24px;
  filter: invert(31%) sepia(100%) saturate(1361%) hue-rotate(197deg) brightness(82%) contrast(107%);
}
.loggedOutText {
  width: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #065FD7;
}
.loggedOutIcon {
  width: 100%;
}
.searchVoice {
  width: 40px;
  display: flex;
  align-items: center;
}
.voice {
  width: 22px;
}
.loggedOut {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
} 
.loggedOutInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}