body,html {
  padding: 0;
  margin: 0;
  height: 100vh;
  scroll-behavior: smooth;
  position: relative;
  box-sizing: border-box;
}

#root {
  height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#content {
  flex: 1 1 auto;
  display: flex;
  height: 100%;
}
#header {
  background-color: white;
  height: 56px;
  padding: 0 22px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 24,
}

$roboto: 'Roboto', sans-serif;
$searchBorder: rgb(212,212,212);
$videoButtonColor: rgb(242,242,242);

.logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.menuButtonDiv {
  height: 53%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuButton {
  height: 100%;
}
.logoImageDiv {
  height: 36%;
  cursor: pointer;
}
.logoImage {
  height: 100%;
}
.search {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
}
.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65%;
}
.searchBarInput {
  border: 0;
  border-radius: 20px 0 0 20px;
  width: 520px;
  flex: 1;
  height: 100%;
  padding: 0;
  padding-left: 20px;
  margin: 0;
  font-size: 16px;
  font-family: $roboto;
  position: relative;
  border: solid $searchBorder;
  border-width: 1px 0 1px 1px;
  box-sizing: border-box;
}
.searchBarInput:focus {
  border: 1px solid gray;
  box-shadow: 0px 0px 1px 1px #065FD7;;
  outline: 0;
}
.searchBarButton {
  width: 60px;
  border: 1px solid $searchBorder;
  height: 100%;
  border-radius: 0 20px 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 245, 245);
}
.searchBarButton:hover {
  cursor: pointer;
  background-color: rgb(235, 235, 235);
}
.searchButton {
  width: 30px;
}
.loggedOutDiv {
  gap: 6px;
  border: 1px solid $searchBorder;
  padding: 4px 10px;
  border-radius: 20px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.loggedOutDiv:hover {
  background-color: #DEF1FF;
  cursor: pointer;
}
.loggedOutIconDiv, .loggedOutText {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loggedOutIconDiv {
  width: 24px;
  filter: invert(31%) sepia(100%) saturate(1361%) hue-rotate(197deg) brightness(82%) contrast(107%);
}
.loggedOutText {
  font-size: 14px;
  font-family: $roboto;
  font-weight: 500;
  color: #065FD7;
}
.loggedOutIcon {
  width: 100%;
}
.searchVoice {
  width: 40px;
  display: flex;
  align-items: center;
}
.voice {
  width: 22px;
}
.loggedOut {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 16px;
} 
.loggedOutInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav {
  width: 240px;
  background-color: white;
  height: 100%;
  font-family: $roboto;
  box-sizing: border-box;
  position: fixed;
  margin-top: 56px;
  overflow: auto;
  padding-bottom: 96px;
}
.navElement {
  display: flex;
  align-items: center;
  padding: 0 12px;
  height: 40px;
  gap: 24px;
  border-radius: 16px;
  cursor: pointer;
}
.navElementIconDiv {
  width: 24px;
  height: 24px;
}
.navElementTitle {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.navBlock {
  padding: 12px;
}
hr {
  padding: 0;
  margin: 0;
  border: 0;
  height: 1px;
  background-color: #cfcfcf;
}
.navNotLogged {
  display: grid;
  justify-items: flex-start;
  gap: 14px;
  font-size: 14px;
  padding: 16px 32px;
}
.navNotLoggedText {
  line-height: 1.4;
}
.navBlockTitle {
  padding: 8px 12px;
}
.navElement:hover {
  background-color: rgb(234, 234, 234);
}
#homepage {
  background-color: white;
  margin: 56px 0 0 240px;
}
.infinite-scroll-component__outerdiv {
  background-color: white;
  width: 100%;
  min-height: 100%;
  padding: 44px;
  box-sizing: border-box;
  padding-bottom: 100px;
}
.infinite-scroll-component {
  background-color: white;
  display: grid;
  grid-auto-rows: min-content ;
  justify-items: center;
  gap: 40px 16px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.minature {
  display: grid;
  font-family: $roboto;
  gap: 0 12px;
  width: 100%;
  height: min-content;
  overflow: hidden;
  cursor: pointer;
  grid-template-columns: min-content;

}
.minatureImageDiv {
  grid-column: 1 / 3;
  padding-bottom: 4px;
}
.minatureImage {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.minatureAvatarDiv {
  grid-column: 1 / 2;
  grid-row: 2 / 5;
  width: min-content;
  padding-top: 6px;
}
.minatureAvatar {
  width: 36px;
  border-radius: 50%;
}
.minatureTitle {
  font-weight: 500;
  word-wrap: break-word;
  white-space: normal;
  word-break: break-all;
  padding: 6px 0;
}
.minatureChannel {
  font-size: 14px;
  color: gray;
  padding-bottom: 2px;
}
.minatureInfo {
  font-size: 14px;
  color: gray;
  display: flex;
  gap: 4px;
}
.loadingDiv {
  width: 100%;
  height: 100px;
  background-color: white;
}
#results {
  width: 100%;
  height: 100%;
}
#results > .infinite-scroll-component__outerdiv {
  display: flex;
  justify-content: center;  
  padding: 106px 0 0 240px;
}
#results > .infinite-scroll-component__outerdiv > .infinite-scroll-component  {
  width: 1096px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.searchMinature {
  display: flex;
  gap: 12px;
  font-family: $roboto;
  width: 1096px;
  overflow: hidden;
  cursor: pointer;
}
.searchMinatureData {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px 0;
  flex: 1;
}
.searchMinatureImageDiv {
  width: 360px;
  height: 202px;
}
.searchMinatureImage {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid rgba(35, 35, 35, 0.343);
}
.searchMinatureTitle {
  font-weight: 400;
  font-size: 20px;
  width: 100%;
}
.searchMinatureInfo {
  display: flex;
  gap: 4px;
  align-items: center;
  color: gray;
  font-size: 12px;
}
.searchMinatureAvatarDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchMinatureAvatar {
  width: 24px;
  border-radius: 50%;
  border: 1px solid rgb(195, 195, 195);
}
.searchMinatureChannel {
  display: flex;
  align-items: center;
  gap: 8px;
  color: gray;
  font-size: 12px;
  padding: 8px 0;
}
.searchMinatureDescription {
  white-space: nowrap;
  overflow: hidden;
  font-weight: 400;
  font-size: 12px;
  color: gray;
}
#videoPage {
  padding: 80px 0 0 100px;
  font-family: $roboto;
  width: 100%;
  display: flex;
}
.videoContainer {
  width: 1280px;
  padding-left: calc(100% - 2124px);
}
#videoInfo {
  width: 100%;
  margin: 12px 0 12px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
}
.videoTitle {
  font-size: 20px;
  font-weight: 500;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  margin-bottom: 12px;
}
.videoChannelInfo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: min-content;
  gap: 0 12px;
  align-items: center;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}
.videoAvatarDiv {
  width: 40px;
  grid-row: 1 / 3;
}
.videoAvatar {
  width: 100%;
  border-radius: 50%;
}
.videoChannel {
  white-space: nowrap;
  font-weight: 500;
}
.videoSubs {
  white-space: nowrap;
  grid-row: 2 / 3;
  font-size: 12px;
  color: gray;
}
.videoButton {
  height: 36px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 14px;
  white-space: nowrap;
  border: 0;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $videoButtonColor;
  gap: 6px;
}
.videoChannelButtons {
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
  justify-self: flex-end;
  gap: 8px;
}
.videoLikes, .videoDislikes {
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: $videoButtonColor;
  height: 36px;
}
.videoLikes {
  border-radius: 20px 0 0 20px;
  border-right: 1px solid rgb(213, 213, 213);
}
.videoLikeButtons {
  display: flex;
}
.videoDislikes {
  border-radius: 0 20px 20px 0;
}
.videoChannelButtons > .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 100,
  'opsz' 24;
}
.videoButtonMore {
  border-radius: 50%;
  padding: 0;
  width: 36px;
}
.videoSubButton {
  grid-row: 1 / 3;
  align-self: center;
  margin-left: 30px;
  background-color: black;
  color: white;
}
.videoContainer > hr {
  margin-bottom: 12px;
}
.videoDescriptionExpanded, .videoDescription {
  display: grid;
  font-family: $roboto;
  font-size: 14px;
  background-color: $videoButtonColor;
  padding: 12px;
  border-radius: 16px;
}
.videoDescription {
  height: 104px;
  overflow: hidden;
}
.videoDescriptionExpanded {
  min-height: 104px;
}
.videoDescriptionData {
  display: flex;
  gap: 12px;
  align-items: center;
  font-weight: 500;
}
.videoDescriptionTextDiv {
  overflow: hidden;
  height: 65px;
}
.videoDescriptionText {
  font-weight: 400;
  line-height: 20px;
  font-family: $roboto;
  white-space: pre-wrap;
  margin: 5px 0;
}
.videoDescriptionTextExpandedDiv {
  min-height: 60px;
  height: max-content;
}
.videoDescriptionShowMore, .videoDescriptionShowLess {
  font-weight: 500;
  cursor: pointer;
  padding-top: 6px;
  justify-self: baseline;
}
.comments {
  font-family: $roboto;
}
.commentsData {
  display: flex;
  gap: 24px;
  align-items: center;
  padding: 24px 0 18px 0;
}
.commentsSort {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  font-weight: 600;
}
.commentsAdd {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 12px;
  margin-bottom: 36px;
}
.commentsAddAvatarDiv {
  width: 44px;
}
.commentsAddAvatar {
  width: 100%;
  border-radius: 50%;
}
.commentsAddInput {
  width: 100%;
  border: 0;
  border-bottom: 1px solid $searchBorder;
  padding: 0;
  padding-bottom: 8px;
  font-size: 14px;
}
.commentsAddInput:focus {
  outline: 0;
  border-bottom: 1px solid $searchBorder;
}
.infinite-scroll-component > .comment {
  display: flex;
  gap: 16px;
  padding-bottom: 20px;
}
.commentData {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.commentSegment {
  display: flex;
  gap: 8px;
  align-items: center;
}
.commentAvatarDiv {
  width: 40px;
}
.commentAvatar {
  border-radius: 50%;
  width: 40px;
}
.commentAuthor {
  font-size: 13px;
  font-weight: 500;
}
.commentDate {
  font-size: 12px;
  font-weight: 400;
}
.commentText {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.commentLikes {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 6px;
  font-size: 12px;
}
.commentLikes > .material-symbols-outlined, .commentDislikes > .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 24;
}
.comments > .infinite-scroll-component__outerdiv > .infinite-scroll-component {
  grid-template-columns:  100%;
  justify-items: start;
  gap: 0;
  row-gap: 0;
}
.comments > .infinite-scroll-component__outerdiv {
  padding: 0;
}